<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendation</title>
</head>
<body>
    {% if user.is_authenticated %}
        {% for recommendation in recommendations %}
                <li><a href="https://animixplay.to/v1/{{recommendation}}">{{recommendation}}</a></li>
        {% endfor %}
    {% else %}
        <h2>Please login here</h2>
        <button><a href="signin"></a>Log in</button>
    {% endif %}
</body>
</html>